.task {
  display: flex;
  justify-content: space-between;

  padding: 1rem;
  border-radius: 8px;
  
  background-color: var(--gray-500);
}

.task + .task {
  margin-top: 0.75rem;
}

.textAndCheckbox {
  display: flex;
  flex: 1;
  gap: 0.75rem;
}

.check {
  color: var(--blue);
  
  width: 1.5rem;
  height: 1.5rem;
  
  cursor: pointer;
}

.check:hover {
  color: var(--blue-dark);
}

.checked {
  width: 1.5rem;
  height: 1.5rem;
  
  color: var(--purple-dark);

  cursor: pointer;
}

.checked:hover {
  color: var(--purple);
}

.task p {
  line-height: var(--font-lineheight);
  
  max-width: 39.5rem;

  word-wrap: break-word;
}

.finishedParagraph {
  text-decoration: line-through;
  color: var(--gray-300);
}

.textChecked {
  text-decoration: line-through;
  color: var(--gray-300);
}

.trashButton {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.25rem 0;

  border: none;
  cursor: pointer;

  color: var(--gray-300);
  background-color: var(--gray-500);
}

.trashButton:hover {
  background-color: var(--gray-400);
  color: var(--danger);
}