.main {
  max-width: 736px;
  margin: 0 auto;
}

.divTaskInputAndButton {
  margin-top: calc(0px - 27px);
  display: grid;
  grid-template-columns: 638px 90px;
  gap: 8px;
  margin-bottom: 64px;
}

.typeTaskInput {
  height: 52px;
  padding: 16px;
  border: 1px solid var(--gray-700);
  border-radius: 8px;

  background-color: var(--gray-500);
  color: var(--gray-100);
}

.typeTaskInput::placeholder {
  color: var(--gray-300);
}

.typeTaskInputError {
  border: 1px solid var(--danger);
}

.createTaskButton {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 52px;
  padding: 16px;
  border: none;
  border-radius: 8px;

  color: var(--gray-100);
  background: var(--blue-dark);
  
  cursor: pointer;
  transition: 0.25s;
}

.createTaskButton:hover {
  background: var(--blue);
}

.createTaskButton span {
  font-size: var(--font-normal);
}

.boxWithInfoAboutTasks {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

/* .boxWithInfoAboutTasksCreated {
} */

.boxWithInfoAboutTasksCreated > span:first-of-type {
  font-size: var(--font-normal);
  font-weight: bold;
  color: var(--blue);

  margin-right: 8px;
}

.boxWithInfoAboutTasksCreated > span:last-child, .boxWithInfoAboutTasksDone > span:last-child {
  padding: 2px 8px;
  border-radius: 10px;

  color: var(--gray-200);
  background-color: var(--gray-400);
}

.boxWithInfoAboutTasksDone > span:first-child {
  margin-right: 0.5rem;
  padding: 0.35rem;

  font-size: var(--font-normal);
  font-weight: bold;
  color: var(--purple);
  cursor: pointer;
}

.boxWithInfoAboutTasksDone > span:first-of-type:hover {
  border-radius: 10px;
  background-color: var(--gray-400);
}

.finishedTasksRendered {
  background-color: var(--gray-400);
  border-radius: 10px;
}

.boxWithoutTasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  border-top: 1px solid #333333;
}